body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Arial, sans-serif;
    position: relative;
    background-color: black; /* Fondo negro mientras se carga la imagen */
    animation: fadeInBackground 3s ease-in-out forwards; /* Animación de fondo */
}

@keyframes fadeInBackground {
    0% {
        background: url('https://www.vhv.rs/dpng/d/23-238848_purple-watercolor-flower-png-transparent-png.png') no-repeat center center/cover;
        opacity: 0;
    }
    100% {
        background: url('https://www.vhv.rs/dpng/d/23-238848_purple-watercolor-flower-png-transparent-png.png') no-repeat center center/cover;
        opacity: 1;
    }
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.7); /* Fondo negro con opacidad */
    color: white;
    padding: 20px;
    border-radius: 10px;
}

h1 {
    font-size: 28px;
}

p {
    font-size: 18px;
}

@media screen and (max-width: 600px) {
    .overlay {
        padding: 10px;
    }

    h1 {
        font-size: 24px;
    }

    p {
        font-size: 16px;
    }
}
